* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;}
img {
    width: 100%;
    height: auto;}
/* *** */
@font-face {font-family: "Ghost";
    src: url("https://db.onlinewebfonts.com/t/6de62301cbce6d09736bff46f2ae832f.eot");
    src: url("https://db.onlinewebfonts.com/t/6de62301cbce6d09736bff46f2ae832f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6de62301cbce6d09736bff46f2ae832f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6de62301cbce6d09736bff46f2ae832f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6de62301cbce6d09736bff46f2ae832f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6de62301cbce6d09736bff46f2ae832f.svg#Ghostz")format("svg");}
@font-face {font-family: 'Ghost-titulo' ;
    src: url(font/cloister-black-font/CloisterBlackLight-axjg.ttf);}
    /* *** */
.container {
    margin: 0 100px;
    display: flex;}
#header .container {
    justify-content: space-between;
    align-items: center;}
#main .container {
    flex-direction: column;}
.produto-linha {
    display: flex;
    justify-content: space-between;}
input {
    border: 2px solid black;
    padding: 5px 7px;
    border-radius: 8px;
    width: 400px;}
#carrinho-icon img {
    width: 50px;}
#carrinho-icon {
    display: flex;}
.produto img{
    height: 300px;}
.logo-nome{
    height: 130px;
}